.btnSaibaMais {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  background: white;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.btnSaibaMais:hover {
  background: rgba(148, 148, 148, 0.596);
  transition: 0.5s;
}

.inicio {
  cursor: pointer;
}
